<!doctype html>

<html>
  <head>
    <title>Mhej!</title>
  </head>
  <body> 

  </body>
</html>

<table class ="tabell">
  <thead class ="tabellheader">
    <tr>
      <th>MedlemsID</th>
      <th>Förnamn</th>
      <th>Efternamn</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Tävlingslicens</th>
      <th>Åldersklass</th>
      <th>Aktivt medlemsskap</th>
      <th>Redigera</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members">
      <td>{{member?.id}}</td>
      <td>{{member?.firstName}}</td>
      <td>{{member?.lastName}}</td>
      <td>{{member?.phone}}</td>
      <td>{{member?.email}}</td>
      <td>{{member?.license}}</td>
      <td>{{member?.ageRange}}</td>
      <td>{{member?.active}}</td>
      <td><button type="button">Redigera</button></td>
    </tr>
  </tbody>
</table>

